:root {
    --height: 730px;
    --width: 411px; 
    --font: 'Montserrat', sans-serif;
    --black: #292929;
    --red:#E56A77;
    --white: #FFFFFF;
  }
  
  h1, p, button {
    font-family: var(--font);
    /* border: 1px solid red; */
  }
  
  h1 {
    font-size: 22px;
    font-weight: 700;
    color: var(--black);
    margin: 0;
  }
  
  p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(66, 66, 66, 0.39);
    margin: 5px;
  }
  
  button {
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
  }
  
  .container {
    position: relative;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
  }
  
  .card {
    position: relative;
    margin: auto;
    margin-top: -60px;
    height: var(--height);
    width: var(--width);
    /* height: 100%;
    width: 100%; */
    /* border: 1px solid #292929; */
    border-radius: 22px;
    top: 10%;
    z-index: 1;
  }
  
  .welcome-icon {
    position: absolute;
    width: 108px;
    left: 0;
    right: 0;
    margin: auto;
    top: 40%;
    animation: hot-air 5s ease-in-out 1s infinite;
    /* z-index: ; */
    /* visibility: hidden; */
  }
  .welcome-icon:hover {
    transform: scale(1.04);
  }

  /* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
  
  .start {
    /* border: 1px solid black; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 11.5%;
    text-align: center;
    z-index: 10;
  }
  
  .text {
    margin-bottom: 50px;
  }
  
  .shadow {
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.15);
  }
  
  .gradient {
    background: linear-gradient(209.22deg, #FFFFFF 4.25%, #F1F1F1 95.6%);
  }
  
  .add {
    /* width: calc(var(--width) / 3.32); */
    width: 78px;
    height: 60px;
    background: linear-gradient(135deg, #9795EF, #F9C5D1);
    color: #FFF;
    border-radius: 50px;
    position: relative;
    margin: auto;
    /* border: 1px solid white; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .add:hover {
    transform: scale(1.02);
  }

  .add:active {
    transform: scale(0.98);
    background: linear-gradient(135deg, #F5E3E6, #D9E4F5);
  }
  
  @keyframes hot-air {
    0% {}
    50% {top: 30%}
    100% {}
  }
  
  @keyframes cloud {
    from {left: -100px; visibility: visible}
    to {left: 100vw; visibility: hidden}
  }
  
  @media (max-width: 480px) {
    :root {
        --width: 100%; 
    }
  }

  /* @media (max-height: 740px) {
    :root {
        --height: 580px;
    }
  } */

  @media (min-width: 1240px) {
    :root {
        --width: 50%; 
    }
  }
  
  
  .none {
    display: none;
  }
  